$yellow: rgb(251, 215, 95);
$white: #ffffff;
$green: #18c577;
$lightgreen: #7be9bd;
$dirty: #88b043;
$orange:#ffc14d;
$lightpurle:#8450ff;
$purple:#5c38b3;

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: $orange;
    border-bottom: 10px solid #f09f1d;
    img{
        width: 50px;
        height: 50px;
    }
    p{
        font-size: 18px;
        font-weight: bold;
        font-family: monospace;
    }
}
.container{
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 90%;
    margin: 5px auto;
    .note{
        width: 300px;
        min-height: 200px;
        margin: 10px 15px;
        background: $orange;
        padding:10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        word-wrap: break-word;
        transition: all .3s linear;
        &:hover{
            box-shadow: 10px 10px 0px #f09f1d;
        }
        .noteTitle{
            font-weight: bold;
            margin-left: 5px;
        }
        .noteBody{
            margin: 10px 0 10px 5px;
        }
        .noteBtns{
            display: flex;
            justify-content: flex-end;
            .btn{
                padding: 5px 8px 4px;
                margin: 3px;
                border-radius: 15px;
                background: $white;
                border: none;
                transition: all .3s linear;
                &:hover{
                    cursor: pointer;
                    background: #dfdfdf;
                }
            }
        }
        .noteTags{
            display: flex;
            flex-wrap: wrap;
            background: $white;
            border-radius: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
            .tag{
                font-size: 12px;
                font-family: monospace;
                color: white;
                padding: 5px 10px;
                margin: 5px;
                border-radius: 15px;
                border: none;
                background: $lightpurle;
                transition: all .3s linear;
                &:hover{
                    cursor: pointer;
                    background: $purple;
                }
            }
        }
    }
    .add{
        background: $lightpurle;
        &:hover{
            box-shadow: 10px 10px 0px $purple;
        }
        input{
            border: none;
            border-radius: 10xp;
            font-size: 14px;
        }
    }
    .new{
        min-height: 0;
        height: 200px;
    }
}
.edit{
    .note{
        width: 100%;
    }
}
input[type=text]{
    font-size: 16px;
    padding: 5px;
    margin-left: 6%;
    margin-top: 20px;
    border-radius: 10px 0px 0px 10px;
    background-color: $white;
    border: 2px solid $orange;
    outline: none;
    color: black;
    min-width: 200px;
}
textarea {
    resize: none;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 14px;
}
.clearBtn{
    padding: 6px;
    padding-bottom: 7px;
    margin-left: -1px;
    border: 2px solid $orange;
    border-radius: 0px 10px 10px 0px;
    background: $white;
    &:hover{
        cursor: pointer;
        background: #dfdfdf;
    }
}